$ruler: 16px;
$color-orange: #E76F51;
$color-yellow: #E9C46A;
$color-green: #264653;
$color-bg: #FFFCF4;
$color-shadow: #90897b;
$color-button-shadow: #6F6A5F;
$color-white: #FFF;
$color-dialog-bg:#333333;

$window-max-width: 1670px;
$pc-width: 1024px;
$tablet-width: 768px;

$font-coves: 'Coves', sans-serif, Arial;
$font-klee-one: 'Klee One', cursive;