@import 'variables';

.section-about {
  background-color: $color-bg;
  min-height: 876px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-green;
    height: 100px;

    h2 {
      font-size: 3.6rem;
      color: $color-bg;
    }
  }

  &__content {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;  

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      border-radius: 2ch;
      box-shadow: -5px -5px 10px $color-white, 5px 5px 10px $color-shadow;
      object-fit: cover;
      object-position: 10% 70%;

      @media(min-width: 1024px) {
        object-position: 10% 65%;
      }
    }

    &.top-image {
      width: 192px;
      height: 192px;
      position: absolute;
      top: 30px;
      left: 30px;

      @media(min-width: 1024px) {
        position: relative;
        width: 718px;
        height: 490px;
        top: -70px;
        right: -20px;
        scale: 0.75;
      }
    }

    &.bottom-image {
      width: 290px;
      height: 140px;
      position: absolute;
      top: 590px;
      right: -40px;

      @media(min-width: 768px) {
        right: -40px;
        top: 500px;
        scale: 1.2;
      }

      @media(min-width: 1024px) {
        width: 985px;
        height: 324px;
        top: 600px;
        left: 0px;
        scale: 0.8;
      }
    }
  }

  &-container {
    width: 100%;
    max-width: 1400px;

    @media(min-width: 1024px) {
      padding-top: 160px;
      padding-left: 100px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
    }
  }

  &__text {
    margin-top: 180px;
    padding: 60px 32px 100px 32px;

    @media(min-width: 1024px) {
      width: 500px;
      height: 400px;
      margin-top: 0;
    }

    h3 {
      font-size: 3.6rem;
      color: $color-green;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.6rem;
      color: $color-green;
      white-space: pre-line;
    }
  }
}
