@import 'variables';

.section-about {
  background-color: $color-bg;

  &__content {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $window-max-width;
    margin: 0 auto;

    @media(min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
      border-radius: 2ch;
      box-shadow: -5px -5px 10px $color-white, 5px 5px 10px $color-shadow;
      object-fit: cover;
      object-position: 10% 70%;

      @media(min-width: $pc-width) {
        object-position: 10% 65%;
      }
    }

    &.top-image {
      width: 192px;
      height: 192px;
      position: absolute;
      top: 30px;
      left: 30px;

      @media(min-width: $pc-width) {
        position: relative;
        width: 718px;
        height: 490px;
        top: -70px;
        right: -20px;
        scale: 0.75;
      }
    }

    &.bottom-image {
      width: 290px;
      height: 140px;
      position: absolute;
      top: 590px;
      right: -40px;

      @media(min-width: $tablet-width) {
        right: -40px;
        top: 500px;
        scale: 1.2;
      }

      @media(min-width: $pc-width) {
        width: 985px;
        height: 324px;
        top: 600px;
        left: 0px;
        scale: 0.8;
      }
    }
  }

  &-container {
    width: 100%;
    max-width: $window-max-width;

    @media(min-width: $pc-width) {
      padding-top: 160px;
      padding-left: 100px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
    }
  }

  &__text {
    margin-top: 180px;
    padding: 60px 32px 100px 32px;

    @media(min-width: $pc-width) {
      width: 500px;
      height: 400px;
      margin-top: 0;
    }

    h2 {
      font-size: 3.2rem;
      color: $color-green;

      @media(min-width: $pc-width) {
        font-size: 3.6rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: $color-green;
      white-space: pre-line;
    }
  }
}

.section-usage-fee {
  margin-top: 260px;
  position: relative;
  background-color: $color-green;
  padding: 95px 20px 50px 20px;
  max-width: $window-max-width;
  margin: 0 auto;
  margin-top: 450px;

  @media(min-width: $pc-width) {
    margin-top: 500px;
  }

  @media($window-max-width) {
    border-radius: 10px;
  }

  &__image {
    position: absolute;
    top: -120px;
    left: 20px;
    width: 90%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;

    @media(min-width: $pc-width) {
      width: 30%;
      height: 970px;
      left: 70%;
    }

    img {
      object-fit: cover;
      object-position: bottom 25% right 50px;
      scale: 1.5;
      width: 100%;
      height: 100%;
      margin-bottom: 20px;

      @media(min-width: $pc-width) {
        transform: scale(0.8);
        object-position: bottom 30px right -10px;
        right: 0;
      }  
    }
  }

  &__content {
    border-radius: 10px;

    @media (min-width: 1100px){
      padding-left: 100px;
    }

    h2 {
      padding-top: 30px;
      font-size: 3.2rem;
      color: $color-bg;
    }

    p {
      padding-top: 10px;
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-bg;
      white-space: pre-line;
    }
  }

  &__prices {
    padding: 30px 20px 0 20px;

    @media(min-width: $pc-width) {
      .section-usage-fee__price-row {
        max-width: 640px;
        display: flex;
        justify-content: space-between;
      }
    }

    @media($window-max-width) {
      padding-left: 70px;
    }
  }

  &__price-other {
    padding: 30px 0 24px 0 !important;
    margin-left: -20px;

    @media($window-max-width) {
      margin-left: -70px;
    }
  }

  &__price {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 10px;

    @media(min-width: $pc-width) {
      width: 300px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-bg;
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-bg;

      &.double-line {
        padding-bottom: 32px;
      }
    }
  }
}

.section-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  margin-top: 120px;

  @media(min-width: $pc-width) {
    margin-top: 200px;
  }

  .banner-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 180px;

    @media(min-width: $pc-width) {
      width: 800px;
      height: 280px;
    }

    .banner {
      position: relative;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: -5px -5px 10px $color-white, 5px 5px 10px $color-shadow;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        box-shadow: -10px -10px 15px $color-white, 10px 10px 15px $color-shadow;
    
        &::after {
          color: $color-green;
        }
      }
    
      &:active {
        box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-bg;
      }
    
      .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.9); // 画像を暗くしてテキストを見やすくする
        transition: filter 0.3s ease;
      }

      .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-yellow;
        opacity: 0.9;
        color: $color-green;
        font-size: 3.2rem;
        font-weight: bold;
        transition: background-color 0.3s ease;

        @media (min-width: $pc-width){
          font-size: 3.6rem;
        }
      }
    }
  }
}
