@import 'variables';

// Floating Action Button
button.fab {
  position: fixed;
  bottom: 30px;
  right: 24px;
  width: 60px;
  height: 60px;
  background-color: $color-bg;
  color: $color-green;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px $color-shadow, 2px 2px 2px $color-green;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &::after {
    content: '';
  }

  &:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 5px rgba(3, 3, 3, 0.2);
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10%);
    transition: opacity 1s ease-out, transform 1s ease-out;

  }

  &:not(.show) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0);
  }
}