@import 'variables';

.section-cast {
  background-color: $color-bg;

  &__cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1130px;

    @media (min-width: $tablet-width) {
      gap: 32px;
      margin: 0 auto;
      margin-top: 80px;
    }

    // ２段目のマージンを狭くする
    &:nth-of-type(3) {
      margin-top: 20px;

      @media (min-width: $tablet-width) {
        margin-top: 120px;
      }
    }
  }

  &__card {
    background: $color-white;
    border-radius: 20px;
    box-shadow: -10px -10px 10px $color-white, 10px 10px 10px $color-shadow;
    overflow: hidden;
    text-align: center;
    width: 158px;
    height: 300px;
    max-width: 250px;

    &:hover {
      box-shadow: -5px -5px 5px $color-white, 5px 5px 5px $color-button-shadow;
      transform: translate(2px, 2px);
    }

    &:active {
      box-shadow: inset 0px 0px 3px $color-shadow, inset -1px -1px 3px $color-white;
    }

    @media (min-width: 1224px) {
      width: 250px;
      height: 400px;
    }

    &-image {
      flex-grow: 1;
      height: 100%;
      display: block;
      object-position: -70px 0;
    }

    &-image.patra {
      object-position: -100px 0;
    }

    &-image.yuzu-mikan {
      object-position: -90px 0;
    }

    &-image.ran {
      object-position: -50px 0;
    }

    &.hide {
      background-color: $color-green;
      pointer-events: none;
      user-select: none;

      img {
        width: 100%;
        scale: 0.4;
        object-position: 50% 50%;
      }
    }
  }

  &__name {
    font-family: $font-coves;
    margin-top: 10px;
    font-size: 1.8rem;
    letter-spacing: .1em;
    text-align: center;
    color: $color-green;

    @media (min-width: $tablet-width) {
      font-size: 2.2rem;
    }
  }

  // cat2とcat4のカードを下に移動
  // cat2とcat4のカードを下に移動
  &__card-container:nth-child(2) .section-cast__card,
  &__card-container:nth-child(2) .section-cast__name,
  &__card-container:nth-child(4) .section-cast__card,
  &__card-container:nth-child(4) .section-cast__name {
    position: relative;
    top: 100px;
  }

  button {
    width: 300px;
    height: 70px;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 220px;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 345px;
      margin-top: 250px;
    }

    &::after {
      content: '<';
      padding: 0;
      transition: margin-left 0.3s ease, color 0.3s ease;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%); 
    }

    &:hover {
      color: $color-green;
      border-color: $color-green;
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  
      &::after {
        color: $color-green;
        margin-left: -10px;
      }
    }
  }
}