@import 'variables';

.section-cast {
  background-color: $color-bg;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-green;
    height: 100px;

    h1 {
      font-size: 3.6rem;
      color: $color-bg;
    }
  }
}