@charset "UTF-8";
@import 'variables';

@font-face {
  font-family: 'Coves';
  src:
    url('../fonts/coves_bold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Coves';
  src:
    url('../fonts/coves_light-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

body,
html {
  background-color: $color-bg;
  overflow-x: hidden;
  width: 100%;
  /* 16px * 62.5% = 10px */
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body,
h2,
input,
select,
textarea,
button {
  font-family: 'Coves', sans-serif, Arial;
}

h3,
p,
li,
time,
address {
  font-family: 'Klee One', cursive;
  letter-spacing: .05em;
  line-height: 1.6;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.menu-icon-area {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.menu-icon {
  margin-left: 8px;
  width: 40px;
  height: 2px;
  background-color: $color-green;
  position: relative;
  top: 16px;
  left: 0;

  &::before,
  &::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: $color-green;
    position: absolute;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}

// Menu
.menu-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(37, 70, 83, 0.9);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  opacity: 0;
  transition: opacity .3s linear;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $color-white;
      top: 30px;
      left: 0;
      transform-origin: center;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__nav-item {
    margin-bottom: 24px;
  }

  &__nav-link {
    font-family: 'Coves', sans-serif;
    display: inline-block;
    width: 200px;
    padding: 7.25px 0;
    border-radius: 10px;
    background: linear-gradient(.25turn, #36677B, #263840);
    box-shadow: 4px 4px 5px #15272e,
      -4px -4px 5px #407a91;
    color: $color-bg;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;

    @media (min-width: 768px) {
      width: 300px;
      padding: 11px 0;
      font-size: 2.4rem;
    }

    &:hover {
      background-color: lighten($color-green, 20%);
      box-shadow: -5px -5px 10px lighten(#36677B, 10%), 5px 5px 10px darken(#263840, 10%);
    }

    &:active {
      box-shadow: inset 0px 0px 3px $color-green, inset -1px -1px 3px $color-green;
    }

    &.down {
      background: linear-gradient(145deg, #263840, #346274);
      box-shadow: 4px 4px 10px #263840,
        -4px -4px 10px #346274;

      &:hover {
        background-color: lighten($color-green, 20%);
        box-shadow: -5px -5px 10px lighten(#346274, 10%), 5px 5px 10px darken(#263840, 10%);
      }

      &:active {
        box-shadow: inset 0px 0px 3px $color-green, inset -1px -1px 3px $color-green;
      }
    }
  }
}

form {
  padding: $ruler;
  width: $ruler*20;
  margin: 0 auto;
}

.segment {
  padding: $ruler*2 0;
  text-align: center;
}

input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: calc($ruler / 2);
  padding: $ruler;
  background-color: $color-bg;
}

.content-container {
  padding: 20px;
  background: $color-bg;
  box-shadow: inset 2px 2px 8px #b5b3ad,
  inset -5px -5px 10px #ffffff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  color: $color-green;

  &.green {
    border-radius: 10px;
    background: $color-green;
    box-shadow: inset 5px 5px 10px #192f38,
      inset -5px -5px 10px #315d6e;
  }
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
  margin-right: calc($ruler / 2);
  box-shadow: inset 1px 1px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}

a {
  text-decoration: none;
}

.more-link a {
  display: inline-block;
  color: $color-bg;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 2px;
  border-bottom: 1px solid $color-bg;
  padding-right: 100px; // ラインの長さを調整
  padding-left: 10px;
  transition: all 0.3s ease;

  &::after {
    content: '>';
    margin-left: 5px;
    padding-left: 85px;
    transition: margin-left 0.3s ease, color 0.3s ease;
    position: absolute;
  }

  &:hover {
    color: $color-yellow;
    border-color: $color-yellow;

    &::after {
      color: $color-yellow;
      margin-left: 10px; // ホバー時に矢印を動かす
    }
  }

  &.green {
    color: $color-green;
    border-color: $color-green;

    &:hover {
      color: $color-yellow;
      border-color: $color-yellow;
    }
  }
}

.none {
  list-style: none;
}

// ページタイトル
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green;
  height: 100px;

  @media(min-width: 1024px) {
    height: 150px;
  }

  h1 {
    font-size: 3.2rem;
    color: $color-bg;

    @media(min-width: 1024px) {
      font-size: 3.6rem;
    }
  }
}

// Footer
.footer {
  margin: 0 auto;
  margin-top: 200px;
  background-color: $color-green;
  padding: 40px 0 0 0;
  color: $color-bg;

  &-container {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
  }

  @media(min-width: 1024px) {
    padding-left: 60px;
  }

  &__logo {
    margin: 30px 0;
    padding-right: 30px;
    display: flex;
    justify-content: end;

    @media(min-width: 768px) {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-bottom: 60px;
      padding-right: 80px;
    }

    &-svg {
      width: 85px;
      height: 70px;
      mask-image: url('../images/common/logo1.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $color-bg;
    }
  }

  &__nav {
    margin-top: 160px;
    padding-left: 10px;
    width: 100%;

    &-list {
      list-style: none;
      padding-left: 16px;
      padding-bottom: 16px;
      margin: 0;
    }

    &-item {
      margin-bottom: 10px;
      padding: 0 0 0 24px;
      letter-spacing: .1rem;
      line-height: 1.8;
    }

    &-item.current {
      background-image: url('../images/common/logo2.svg');
      background-repeat: no-repeat;
      background-position: top 6px left 0;
      background-size: 20px;
    }

    &-container {
      @media(min-width: 768px) {
        display: flex;
        flex-direction: row;
      }
    }

    &-link {
      color: $color-white;
      text-decoration: none;
      font-size: 1.8rem;
      font-family: 'Coves', sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding-left: 8px;
    }
  }

  &__instagram-svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    mask-image: url('../images/common/instagram_icon.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-bg;
  }

  &__copyright {
    display: block;
    padding-top: 30px;
    padding-bottom: 24px;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    color: $color-bg;
    text-align: center;

    @media(min-width: 768px) {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 80px 80px 24px;
    }
  }
}

// Fade-in Animation
body {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.body-fade-in {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}