@charset "UTF-8";
@import 'variables';

// About
.section-about {
  position: relative;
  margin: 0 auto;
  padding-top: 80px;
  max-width: $window-max-width;

  @media(min-width: $tablet-width) {
    margin-top: 300px;
  }

  .section-about__image {
    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      vertical-align: top;

      @media(min-width: $pc-width) {
        position: absolute;
        width: 500px;
        height: 480px;
        border-radius: 10px;
        float: inline-end;
        right: -10px;
        bottom: 80px;
      }
    }
  }

  .section-about-container {
    background-color: $color-green;
    padding-bottom: 95px;
    max-width: 1300px;

    @media(min-width: $pc-width) {
      border-radius: 0 0 10px 0;
      padding-left: 100px;
      width: 80vw;
    }

    @media(min-width: $window-max-width) {
      border-radius: 10px;
    }

    h2 {
      color: $color-bg;
      font-size: 3.6rem;
      padding: 95px 0 0px 20px;

      @media(min-width: $pc-width) {
        padding-left: 0;
      }
    }

    p {
      color: $color-bg;
      font-size: 1.6rem;
      padding: 30px 20px 0px 20px;

      @media(min-width: $pc-width) {
        padding-left: 0;
        padding-right: 40vw;
        max-width: 60vw;
      }

      @media(min-width: 1224px) {
        padding-right: 35vw;
      }

      @media(min-width: 1900px) {
        padding-right: 45%;
      }
    }

    .more-link {
      padding-top: 85px;
      text-align: right;

      @media(min-width: $pc-width) {
        padding-right: 40vw;
      }

      @media(min-width: 1200px) {
        padding-right: 35vw;
      }

      @media(min-width: 1900px) {
        padding-right: 45%;
      }

      a {
        right: 24px;

        @media(min-width: 1200px) {
          right: 0;
        }
      }
    }
  }
}

// Cast
.section-cast {
  padding: 160px 20px 0 20px;
  max-width: $window-max-width;
  margin: 0 auto;

  @media (min-width: $pc-width) {
    width: 100%;
    padding: 0;
    padding-top: 180px;
  }

  @media ($window-max-width) {
    margin: 0 auto;
  }

  &__title {
    font-size: 3.6rem;
    margin-bottom: 70px;
    color: $color-green;

    @media (min-width: $pc-width) {
      padding-left: 100px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1130px;

    @media (min-width: $tablet-width) {
      gap: 32px;
      margin: 0 auto;
    }
  }

  &__card {
    background: $color-white;
    border-radius: 20px;
    box-shadow: -10px -10px 10px $color-white, 10px 10px 10px $color-shadow;
    overflow: hidden;
    text-align: center;
    width: 140px;
    height: 300px;
    max-width: 250px;

    &:hover {
      box-shadow: -5px -5px 5px $color-white, 5px 5px 5px $color-button-shadow;
      transform: translate(2px, 2px);
    }

    &:active {
      box-shadow: inset 0px 0px 3px $color-shadow, inset -1px -1px 3px $color-white;
    }

    @media (min-width: 1224px) {
      width: 250px;
      height: 400px;
    }

    &-image {
      flex-grow: 1;
      height: 100%;
      display: block;
      object-position: -70px 0;
    }

    &:nth-child(4) .section-cast__card-image {
      object-position: -90px 0;
    }
  }

  &__name {
    font-family: $font-coves;
    margin-top: 10px;
    font-size: 2.4rem;
    letter-spacing: .1em;
    text-align: center;
    color: $color-green;
  }

  // cat2とcat4のカードを下に移動
  // cat2とcat4のカードを下に移動
  &__card-container:nth-child(2) .section-cast__card,
  &__card-container:nth-child(2) .section-cast__name,
  &__card-container:nth-child(4) .section-cast__card,
  &__card-container:nth-child(4) .section-cast__name {
    position: relative;
    top: 100px;
  }


  button {
    margin-top: 220px;

    @media (min-width: $tablet-width) {
      margin-top: 250px;
    }
  }
}

// Shop Section
.section-shop {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  max-width: $window-max-width;

  @media(min-width: $pc-width) {
    margin: 0 auto;
    padding-top: 470px;
    align-items: start;
  }

  &__image1 {
    width: 100%;
    max-width: 1130px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: 0 -100px;
      height: 270px;
      vertical-align: top;

      @media(min-width: $pc-width) {
        position: absolute;
        width: 1170px;
        height: 345px;
        border-radius: 10px;
        float: inline-end;
        top: 180px;
        right: -30px;
        object-position: 0;
      }
    }
  }

  &__image2 {
    width: 100%;
    max-width: 1130px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: 0 -65px;
      height: 180px;
      vertical-align: top;
      transform: scale(1.2);

      @media(min-width: $pc-width) {
        position: absolute;
        width: 450px;
        height: 440px;
        border-radius: 10px;
        float: inline-end;
        bottom: -150px;
        right: 20px;
      }
    }
  }

  &__content {
    background-color: $color-green;
    padding: 20px 20px 90px 20px;
    max-width: 1180px;
    height: 447px;

    @media (min-width: $pc-width) {
      padding: 40px 0 0 100px;
    }

    @media ($window-max-width) {
      border-radius: 10px;
    }
  }

  &__title {
    color: $color-bg;
    font-size: 3.6rem;
    padding-top: 95px;
  }

  &__description {
    color: $color-bg;
    font-size: 1.6rem;
    padding-top: 30px;

    @media(min-width: $pc-width) {
      padding-left: 0;
      width: 42%;
    }

    @media(min-width: 1224px) {
      width: 52%;
    }

    @media(min-width: 1900px) {
      padding-right: 45%;
    }
  }

  .more-link {
    padding-top: 85px;
    text-align: right;

    @media(min-width: $pc-width) {
      width: 42%;
    }

    @media(min-width: 1224px) {
      width: 52%;
    }

    @media(min-width: 1900px) {
      padding-right: 45%;
    }

    a {
      right: 16px;
    }
  }
}

// Info Section
.section-info {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0 20px;
  max-width: $window-max-width;
  margin: 0 auto;

  @media(min-width: 820px) {
    align-items: center;
  }

  @media(min-width: $pc-width) {
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-left: 0;
    flex-direction: row;
  }

  @media($window-max-width) {
    margin: 0 auto;
  }

  &-container {
    @media(min-width: $pc-width) {
      max-width: $window-max-width;
      padding-left: 100px;
    }
  }

  &__item {
    margin-top: 30px;
  }

  &__title {
    font-size: 3.6rem;
    color: $color-green;
    padding-bottom: 30px;
  }

  &__content {
    white-space: pre-line;

    @media(min-width: 820px) {
      width: 600px;
      max-width: 600px;
    }

    address a[href*="tel:"] {
      color: $color-green;
      border-bottom: 1px solid $color-green;

      @media (min-width: $tablet-width) {
        border: none;
        pointer-events: none;
        cursor: default;
        text-decoration: none;
      }
    }

    ul {
      list-style: inside;
      list-style-position: inside;
      padding: 0;
      margin: 0;

      li {
        padding-left: 10px;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  .more-link {
    padding: 85px 0 8px 0;
    text-align: right;
  }

  &__map {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;

    @media(min-width: $pc-width) {
      display: none;
    }

    @media(min-width: $pc-width) {
      display: block;
      width: 50vw;
      max-width: 510px;
      padding: 0 60px 0 60px;
    }

    img {
      width: 70%;
      min-width: 290px;
      object-fit: cover;
      max-width: 510px;

      @media(min-width: $pc-width) {
        width: 100%;
      }
    }
  }
}

// Journal
.section-journal {
  width: 100%;
  max-width: $window-max-width;
  margin-top: 180px;
  display: flex;
  flex-direction: column;

  @media(min-width: $window-max-width) {
    margin: 0 auto;
    padding-top: 180px;
  }

  &-container {
    padding: 0 20px 0 20px;

    @media(min-width: $pc-width) {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      margin-right: 30px;
    }
  }

  &__contents {
    position: relative;
    width: 100%;

    @media(min-width: 820px) {
      margin: 0;
      width: 600px;
      max-width: 600px;
      margin-top: 100px;
      padding-left: 100px;
    }
  }

  &__image {
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: 190px;
      object-fit: cover;
      object-position: 0 -180px;

      @media(min-width: $tablet-width) {
        width: 100%;
        height: 275px;
        object-position: bottom -130px right 0;
      }

      @media(min-width: $window-max-width) {
        border-radius: 10px;
      }
    }

    &:nth-child(2) {
      @media(min-width: $pc-width) {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 200px;
      }
    }

    &:nth-child(2) img {
      object-position: 0;
      width: 90%;
      height: 260px;
      border-radius: 10px;

      @media(min-width: $pc-width) {
        height: 380px;
      }
    }
  }

  &__title {
    font-size: 3.6rem;
    color: $color-green;
    padding-top: 60px;
    margin-bottom: 20px;

    @media (min-width: $pc-width) {
      padding-left: 0;
    }
  }

  &__entries {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    @media (min-width: 820px) {
      gap: 32px;
    }
  }

  &__date {
    color: $color-green;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 600;
  }

  &__instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 30px;
    right: 0px;

    img {
      width: 70%;
    }
  }
}