<!-- <footer class="footer"> -->
  <div class="footer__logo">
    <a href="#">
      <div class="footer__logo-svg"></div>
    </a>
  </div>
  <nav class="footer__nav">
    <ul class="footer__nav-list">
      <li class="footer__nav-item current">
        <a href="#" class="footer__nav-link">Top</a>
      </li>
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link">About</a>
      </li>
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link">Cast</a>
      </li>
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link">Contact</a>
      </li>
      <div class="footer__nav-container">
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">Online Shop</a>
        </li>
        <li class="footer__nav-item">
          <a href="#" class="footer__nav-link">
            <div class="footer__instagram-svg"></div>Instagram
          </a>
        </li>
      </div>
    </ul>
  </nav>
  <small class="footer__copyright">© Cat World. All rights reserved.</small>
<!-- </footer> -->
