  <div class="logo">
    <a href="index.html">
      <img src="assets/images/common/logo2.svg" alt="Cat World Logo">
    </a>
  </div>
  <div class="menu-icon-area">
    <div class="menu-icon"></div>
  </div>

<div class="menu-overlay" id="mobileMenuOverlay">
  <span class="modal-close" id="mobileMenuClose"></span>
  <nav class="menu-overlay__nav">
    <ul class="menu-overlay__nav-list">
      <li class="menu-overlay__nav-item"><a href="index.html" class="menu-overlay__nav-link">Top</a></li>
      <li class="menu-overlay__nav-item"><a href="about.html" class="menu-overlay__nav-link down">About</a></li>
      <li class="menu-overlay__nav-item"><a href="cast.html" class="menu-overlay__nav-link">Cast</a></li>
      <li class="menu-overlay__nav-item"><a href="#" class="menu-overlay__nav-link down">Contact</a></li>
      <li class="menu-overlay__nav-item"><a href="#" class="menu-overlay__nav-link">Online Shop</a></li>
      <li class="menu-overlay__nav-item"><a href="#" class="menu-overlay__nav-link down">Instagram</a></li>
    </ul>
  </nav>
</div>
